.checkoutOrder {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1rem;
}
.categoryPage ion-toolbar {

    --border-style: none;
}
.checkoutFooter {

    border-top: 2px solid rgb(200, 200, 200);
    background-color: white;
}

.checkoutOrder ion-card-subtitle {

    font-size: 1.3rem;
}